@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our home page!</p>
    <p>Feel free to explore and discover all the amazing features we have to offer.</p>
</div>
